{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>チケットBP - {% block title %}{% endblock %}</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
</head>

<body>

{% block header %}
  <div class="header">
    <div class="wrapper">
      <ul>
        <li><a class="brand" href="{% url 'tickets:list' %}">チケットBP</a></li>
      </ul>
      {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'tbpauth:mypage' %}">{{ user.get_full_name }}</a></li>
          <li><a href="{% url 'cart:list' %}">カート ({{ request.cart.num_items }})</a></li>
          <li><a href="{% url 'tickets:sell' %}">出品</a></li>
          <li><a href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
      {% else %}
        <ul>
          <li><a href="{% url 'login' %}">ログイン</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}

<div class="wrapper">
  {% block content %}
  {% endblock %}
</div>

</body>
</html>
